<footer class="bg-main-light pt-4 px-5 pb-1">
    <div>
        <h4>Get the FreshCart app</h4>
        <p class="text-muted">We will send you a link, open it on your phone to download the app</p>
    </div>
    <div class="d-flex gap-3 justify-content-around">
        <input type="email" placeholder="Email.." class="form-control">
        <button class="btn-main border-0 flex-shrink-0">Share App Link</button>
    </div>
    <div class="my-4 border-top border-bottom text-muted d-flex justify-content-between px-lg-3">
        <div class="d-flex align-items-center py-3">
            <h5>Payment Partners</h5>
            <div class="ms-3">
                <img src="./assets/images/6.Amazon_Pay-Logo-2412x652-1.png" alt="amazon-pay-logo" class="mx-1"
                    width="60">
                <img src="./assets/images/american-express.png" alt="american-express-logo" class="mx-1" width="60">
                <img src="./assets/images/mastercard_logo.svg__3.png" alt="master-card-logo" class="mx-1" width="60">
                <img src="./assets/images/PayPal-Logo.png" alt="paypal-logo" class="mx-1" width="60">
            </div>
        </div>
        <div class="d-flex align-items-center">
            <h5>Get deliveries with FreshCart</h5>
            <div class="ms-3">
                <img src="./assets/images/appstore.png" alt="apple-store-logo" width="100">
                <img src="./assets/images/google-play.png" alt="google-play-logo" width="100">
            </div>
        </div>
    </div>
</footer>