:host {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /*aw hn7ot l footer css margin top auto*/
    min-height: 100vh;
}

.container-fluid {
    margin-top: 80px;
}