<section *ngIf="step1" class="w-50 mx-auto rounded bg-main-light p-3 my-3 shadow-lg forget">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword(btnForget)">
        <h2 class="text-main text-center">Forget Password</h2>
        <label class="mb-2" for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" formControlName="email">
        <div class="alert alert-danger my-2 w-50 text-center mx-auto"
            *ngIf="forgetPasswordForm.get('email')?.errors && (forgetPasswordForm.get('email')?.touched || forgetPasswordForm.get('email')?.value.length > 0)">
            <!-- if found any errors show alert and if touched or value less than 0 show alert -->
            <p *ngIf="forgetPasswordForm.get('email')?.getError('required')">Email is Required</p>
            <p *ngIf="forgetPasswordForm.get('email')?.getError('email')">Email InValid Format (example@example.com)</p>
        </div>
        <p *ngIf="userMsg" class="alert alert-danger my-2">{{userMsg}}</p>
        <button #btnForget [disabled]="forgetPasswordForm.invalid" class="btn btn-main w-100 mt-3">
            <span *ngIf="isLoading" class="loader me-2"></span>Forget Password
        </button>
    </form>
</section>

<section *ngIf="step2" class="w-50 mx-auto rounded bg-main-light p-3 my-3 shadow-lg forget">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode(btnReset)">
        <h2 class="text-main text-center">Reset Code</h2>
        <label class="mb-2" for="resetCode">Reset Code</label>
        <input type="text" name="resetCode" id="resetCode" class="form-control" formControlName="resetCode">
        <div class="alert alert-danger my-2 w-50 text-center mx-auto"
            *ngIf="resetCodeForm.get('resetCode')?.errors && (resetCodeForm.get('resetCode')?.touched || resetCodeForm.get('resetCode')?.value.length > 0)">
            <!-- if found any errors show alert and if touched or value less than 0 show alert -->
            <p *ngIf="resetCodeForm.get('resetCode')?.getError('required')">code is Required</p>
        </div>
        <p *ngIf="userMsg" class="alert alert-danger my-2">{{userMsg}}</p>
        <button #btnReset [disabled]="resetCodeForm.invalid" class="btn btn-main w-100 mt-3">
            <span *ngIf="isLoading" class="loader me-2"></span>Reset Code
        </button>
    </form>
</section>

<section *ngIf="step3" class="w-50 mx-auto rounded bg-main-light p-3 my-3 shadow-lg forget">
    <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword(btnNew)">
        <h2 class="text-main text-center">Reset Password</h2>
        <label class="mb-2" for="resetPaswword">New Password</label>
        <input type="password" name="resetPaswword" id="resetPaswword" class="form-control"
            formControlName="newPassword">
        <div class="alert alert-danger my-2 w-50 text-center mx-auto"
            *ngIf="newPasswordForm.get('newPassword')?.errors && (newPasswordForm.get('newPassword')?.touched || newPasswordForm.get('newPassword')?.value.length > 0)">
            <!-- if found any errors show alert and if touched or value less than 0 show alert -->
            <p *ngIf="newPasswordForm.get('newPassword')?.getError('required')">New Password is Required</p>
            <p *ngIf="newPasswordForm.get('newpassword')?.getError('pattern')">password must start with capital letter
                and at least 6 character or number</p>
        </div>
        <p *ngIf="userMsg" class="alert alert-danger my-2">{{userMsg}}</p>
        <button #btnNew [disabled]="newPasswordForm.invalid" class="btn btn-main w-100 mt-3">
            <span *ngIf="isLoading" class="loader me-2"></span>Reset Password
        </button>
    </form>
</section>