<nav #navbar class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home"><img src="./assets/images/freshcart-logo.svg"
                alt="freshcart logo"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <!--  Left Side Of Navbar butons -->
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLink="home" routerLinkActive="active-link">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLink="products"
                        routerLinkActive="active-link">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLink="categories"
                        routerLinkActive="active-link">categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLink="brands" routerLinkActive="active-link">brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" routerLink="cart">
                        <i class="fas fa-cart-shopping text-main fa-xl pt-4"></i>
                        <span class="badge bg-main text-white position-absolute top-0 end-0">{{cartNum}}</span>
                    </a>
                </li>
            </ul>
            <!--  Right Side Of Navbar icons-->
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-lx text-main"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <span (click)="logoutUser()" class="nav-link" role="button">SignOut</span>
                        </li>
                        <li><a class="dropdown-item" routerLink="/forgetPassword" routerLinkActive="active-link">Forget
                                Password</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/allorders" routerLinkActive="active-link">All
                                Orders</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-tiktok"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>