<nav class="navbar navbar-expand-md navbar-light fixed-top shadow-lg" > <!--bg-light  ---default -->
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home"><img src="./assets/images/freshcart-logo.svg" alt="freshcart logo"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">

            <!--  Right Side Of Navbar icons-->
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"><i class="fab fa-tiktok"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="nav-item me-lg-4">
                    <a class="nav-link text-white"><i class="fab fa-youtube"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLink="login" routerLinkActive="active-link">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLink="register" routerLinkActive="active-link">register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>